html,body{
    height: 100%; /* Ensure the body fills the viewport */
    margin: 0; /* Remove default margin */
}

.nav{
  font-size: large;
  margin-left: 40%;
}

.navbar{
  color: white;
  margin-bottom: 0;
  opacity: 0.8;
}

.navbar-toggler{
border:1px solid gray;
background-color:black;
}

.navbar-toggler-icon{
  color:white;
}

a:hover {
  text-decoration: underline;
  border-bottom: 1px solid blue;
}

/*#hero img{
  width: 500px;
  max-height: 400px;
  object-fit: cover;
  

} */
/*#hero img {
  width: 100%;
  max-height: 400px; /* Adjust as necessary */
 /* object-fit: cover;
}*/


.logoHeader{
  height: auto;
  object-fit: cover;
}

.carousel-inner img {
  height: auto; /* Adjust the height as needed */
  object-fit: cover;
  

}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    padding: 0;
  }

  header {
    /*position: sticky;*/
    top: 0;
    z-index: 1000;
  }

  main{
    flex:1; /* Pushes footer to the bottom when there is not enough content*/
    background-color: #100f0f;

  }

  /* Styling for card images*/
  .card-img-top{
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 100%;
    max-height: 70%;
    border-radius: 50%;
    object-fit: cover;
  }

  .card-text{
    font-size: 0.9rem; /* Adjust size for smaller screens */
    text-align: center;
    word-wrap: break-word; /* Ensures text wraps properly */
}


.bandMember{
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 100%;
    max-height: 70%;
    border-radius: 50%;
    object-fit: cover;
  
}


  #musicSection, #aboutSection{
    background-color: rgb(67, 67, 76) !important;
    text-align: center;
    margin-top: 20px;
  }

  .embed-responsive-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  .embed-responsive-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


  footer {
    position: sticky;
    bottom: 0;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    width: 100%;
  }

  #hero h2 {
    font-size: 3rem;
   
  }

  @media (max-width: 768px) {
    #hero h2 {
      font-size: 2rem;
      
    }

    /* Styling for card images*/
  .bandMember{
    max-width: 100%;
    max-height: auto;
    border-radius: 50%;
    object-fit: cover;
  }

  }

  @media (max-width: 576px) {
    #navbarContainter img {
        max-width: 80px; /* Resize logo */
    }

    #hero img {
        max-height: 300px; /* Reduce hero image height */
    }

  /*  .card-img-top{
      max-width: 70%;
      max-height: auto;
      border-radius: 50%;
    }*/

    .bandMember{
      border: 10px solid transparent;
      margin-bottom: 25px;
      width: 70%;
      max-height: auto;
      border-radius: 50%;
      object-fit: cover;
  }

    .card-title, .card-text {
        font-size: 0.8rem; /* Reduce text size in cards */
    }
}
  